body{
    background:#e5e6f0;
}
#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    
}
#containerTop{
    width:100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
#logo{
    justify-self: center;
}
#containerButton{
     justify-self: center;   
}
div button.buttonCadastro{
    
    border:0;
    margin-right:0px;
    background:rgb(107, 197, 233);
    border-radius: 2px;
    padding:15px 20px;
    font-size:16px;
    font-weight:bold;
    color:#fff;
    cursor:pointer;
    transition:background 0.5s;
  }
  div button.buttonCadastro:hover{
    background:rgb(82, 178, 216);
  }
#containerTable{
    margin-top:70px;
    max-width: 1200px;
    justify-self: center;
    
}